<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="atharva_formgrid_custom_form_details_listing_data_source" xsi:type="string">Atharva\FormGrid\Model\ResourceModel\Form\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Atharva\FormGrid\Model\ResourceModel\Form\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">atharva_storeformadmingrid</argument>
            <argument name="resourceModel" xsi:type="string">Atharva\FormGrid\Model\ResourceModel\Form</argument>
        </arguments>
    </virtualType>
</config>