<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Atharva_FormGrid::formgrid" 
            title="Custom Form Data" 
            module="Atharva_FormGrid" 
            parent="Atharva_Imageupload::menu" 
            sortOrder="40" 
            dependsOnModule="Atharva_Imageupload" 
            action="adminformgrid/form/index" 
            resource="Atharva_FormGrid::formgrid"/>
    </menu>
</config>